@import "../../sass";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.4rem;
    background-color: $white;
    box-shadow: 0 4px 47px rgba(0, 0, 0, 0.05);
    padding: 0 32px;
}