@import "../../sass";

.aside {
    display: flex;
    &__navbar {
        display: none;
        overflow: hidden;
        @media ($laptop) {
            display: block;
        }
    }
    &__title {
        @include btn();
        @include regular15();
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $white;
        width: 17.7rem;
        height: 6.4rem;
        background-color: $backgroundDark;
        &:hover .aside__icon {
            background-color: #0A58E3;
        }
        &-link {
            @include link();
            @include regular15();
            color: $white;
            width: 100%;
            padding: 23px 0;
        }
    }
    &__icon {
        @include btn();
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        width: 6.4rem;
        height: 6.4rem;
        background-color: $backgroundDark;
        &-link {
            @include link();
            color: $white;
            padding: 22px 20px;
        }
    }
    &__hover {
        @media ($laptop) {
            background-color: $blue;
        }
    }
    &__dummy {
        height: calc(100vh - (64px * 5));
        background-color: $backgroundDark;
        &-title {
            width: 17.7rem;
        }
    }
}

.navbar {
    //width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $backgroundDark;
    box-shadow: 0px 4px 47px rgba(0, 0, 0, 0.05);
    flex-shrink: 0;
    overflow: hidden;
    &__hidden {
        width: 6.4rem !important;
        height: 100vh !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $backgroundDark;
        box-shadow: 0px 4px 47px rgba(0, 0, 0, 0.05);
        flex-shrink: 0;
        overflow: hidden;
    }
    &__btn {
        @include btn();
        @include regular15();
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $white;
        width: 241px;
        //width: 100%;
        height: 6.4rem;
        background-color: $backgroundDark;
        &:hover {
            background-color: $blue;
        }
        &-center {
            padding-left: 20px;
            width: 44px;
            //justify-content: center;
        }
        &-lighter {
            background-color: #305F93;
        }
    }

    &__content {
        padding-left: 13px;
        @media ($desktop) {
            padding-left: 24px;

        }
        &-charger {
            padding-left: 10px;
            @media ($desktop) {
                padding-left: 21px;

            }
        }
    }

    &__img {
        margin-right: 15.5px;
    }
    &__charger {
        margin-right: 11.5px;
    }

    &__tel {
        @include link()
    }
    &__mini {
        display: none;
        @media ($laptop) {
            display: flex;
        }
    }
}