@import "../../sass";

.aside {
    width: 24.1rem;
}

.navbar {
    display: none;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: $backgroundDark;
    box-shadow: 0px 4px 47px rgba(0, 0, 0, 0.05);
    flex-shrink: 0;
    overflow: hidden;
    @media ($laptop) {
        display: flex;
    }
    &__mini {
        display: flex;
        width: 5rem;
        @media ($laptop) {
            display: none;
        }
    }
    &__btn {
        @include btn();
        @include regular15();
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $white;
        width: 241px;
        height: 6.4rem;
        padding-left: 14px;
        background-color: $backgroundDark;
        @media ($laptop) {
            padding-left: 23px;
        }
        &:hover {
            background-color: $blue;
        }
        &-collapse {
            display: none;
            @media ($laptop) {
                display: flex;
            }
        }
    }

    &__content {
        //padding-left: 13px;
        @media ($desktop) {
            //padding-left: 24px;

        }
        &-charger {
            padding-left: 10px;
            @media ($desktop) {
                padding-left: 21px;

            }
        }
    }

    &__img {
        width: 18px;
    }
    &__charger {
        margin-right: 11.5px;
    }

    &__tel {
        @include link()
    }
    &__txt {
        margin-left: 15.5px;
        display: none;
        @media ($laptop) {
            display: inline;
        }
    }
}