.hidden {
    display: none !important;
}

.odd {
    background-color: #F7FAFF !important;
}

.bgBlue {
    background-color: #0075F6 !important;
    color: white !important;
}

:focus {outline:none !important;}
::-moz-focus-inner {border:0;}